# Ignore folders.
.storage
.cloud
.google.token

# Ensure these YAML files are ignored, otherwise your secret data/credentials will leak.
ip_bans.yaml
secrets.yaml
known_devices.yaml

# Logs
logs
*.log
home-assistant.log
home-assistant.log.fault
home-assistant.log.1
ozw_log.txt

# Python cache
__pycache__
*.pyc

# DB files
*.db
*.db-journal

# Files with personal details
*.crt
*.csr
*.key
.google.token
.uuid
icloud/
home-assistant.db
home-assistant_v2.db
home-assistant_v2.db-*

# Temporary files
*.db-journal
*.pid
tts

# automatically downloaded dependencies
deps
lib
www

# Development files
custom_components/